.titleRec {
  font-weight: 16px;
  font-weight: 400;
}
.parag {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.tarjetaRecomendacion1 {
  background-image: url(../../../assets/img/fondoAzul.png);
  background-position: center;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.tarjetaRecomendacion2 {
  background-image: url(../../../assets/img/fondoNaranja.png);
  background-position: center;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
