<div class="w-100 mx-auto">
    <div class="swiper-container mx-auto ">
        <div class="swiper-wrapper ">
            <div class="swiper-slide tarjetaRecomendacion2" data-hash="slide1">
                <div class="w-100 p-3 d-flex justify-content-center text-center flex-column align-items-center">
                    <img src="./assets/img/p1.jpg" width="70px" height="70px" class="rounded-circle" alt="">
                    <p class="mx-0 my-2 titleRec">Daniel Mateus</p>
                    <p class="m-0 parag">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
                </div>
            </div>
            <div class="swiper-slide tarjetaRecomendacion1" data-hash="slide1">
                <div class="w-100 p-3 d-flex justify-content-center text-center flex-column align-items-center">
                    <img src="./assets/img/p1.jpg" width="70px" height="70px" class="rounded-circle" alt="">
                    <p class="mx-0 my-2 titleRec">Daniel Mateus</p>
                    <p class="m-0 parag">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
                </div>
            </div>
            <div class="swiper-slide tarjetaRecomendacion2" data-hash="slide1">
                <div class="w-100 p-3 d-flex justify-content-center text-center flex-column align-items-center">
                    <img src="./assets/img/p1.jpg" width="70px" height="70px" class="rounded-circle" alt="">
                    <p class="mx-0 my-2 titleRec">Daniel Mateus</p>
                    <p class="m-0 parag">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
                </div>
            </div>
            <div class="swiper-slide tarjetaRecomendacion1" data-hash="slide1">
                <div class="w-100 p-3 d-flex justify-content-center text-center flex-column align-items-center">
                    <img src="./assets/img/p1.jpg" width="70px" height="70px" class="rounded-circle" alt="">
                    <p class="mx-0 my-2 titleRec">Daniel Mateus</p>
                    <p class="m-0 parag">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
                </div>
            </div>
            <div class="swiper-slide tarjetaRecomendacion2" data-hash="slide1">
                <div class="w-100 p-3 d-flex justify-content-center text-center flex-column align-items-center">
                    <img src="./assets/img/p1.jpg" width="70px" height="70px" class="rounded-circle" alt="">
                    <p class="mx-0 my-2 titleRec">Daniel Mateus</p>
                    <p class="m-0 parag">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
                </div>
            </div>
            <div class="swiper-slide tarjetaRecomendacion1" data-hash="slide1">
                <div class="w-100 p-3 d-flex justify-content-center text-center flex-column align-items-center">
                    <img src="./assets/img/p1.jpg" width="70px" height="70px" class="rounded-circle" alt="">
                    <p class="mx-0 my-2 titleRec">Daniel Mateus</p>
                    <p class="m-0 parag">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>