<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                About
                <li> <a [routerLink]="['home']">locations</a> </li>
                <li> <a [routerLink]="['home']">Franchise With Us</a> </li>
                <li> <a [routerLink]="['home']">Partners</a> </li>
                <li> <a [routerLink]="['home']">About Us</a> </li>
                <li> <a [routerLink]="['home']">Make Fetch Happen!</a> </li>
            </ul>
        </div>
        <div class="col">
            <ul>
                Resources
                <li> <a [routerLink]="['home']">Reviews</a> </li>
                <li> <a [routerLink]="['home']">Pet Resource Center</a> </li>
                <li> <a [routerLink]="['home']">Media Fact Sheet</a> </li>
                <li> <a [routerLink]="['home']">Blog</a> </li>
                <li> <a [routerLink]="['home']">News</a> </li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <br>
                <li> <a [routerLink]="['home']">Reviews</a> </li>
                <li> <a [routerLink]="['home']">Pet Resource Center</a> </li>
                <li> <a [routerLink]="['home']">Media Fact Sheet</a> </li>
                <li> <a [routerLink]="['home']">Blog</a> </li>
                <li> <a [routerLink]="['home']">News</a> </li>
            </ul>
        </div>
        <div class="col">
            <div class="newsletter">
                <p class="titleNews">NewsLetter</p>
                <p class="paragNews">Sign up to receive the Fetch! Family Newsletter</p>
                <div class="position-relative contZip mt-4 px-2 d-flex justify-content-between">
                    <input type="text" class="zipInput ml-2" placeholder="Email Adress">
                    <button class="btnZip my-2"><i class="fas fa-long-arrow-alt-right fa-2x"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>