.contZip {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  width: 100%;
}

.zipInput {
  border: none;
  background: none;
  width: 50%;
}

.btnZip {
  color: white;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background: var(--unnamed-color-ff6752) 0% 0% no-repeat padding-box;
  background: #ff6752 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #fd68454d;
}

ul, li, ol {
    list-style: none;
}

ul, .titleNews{
    color: #FFE530;
    font-weight: 600;  
    font-size: 18px;
}

ul li{
    margin: 5px 0px;
}

ul li a, .paragNews{
    color: #ffffff;
    font-weight: 300;
}
