<div class="container mt-5">
    <div class="row ">
        <div class="col">
            <h1 class="text-center mt-5 mb-5 w-50 mx-auto">Here's what pet owners have to say about Fetch! Pet Care...
            </h1>
        </div>
    </div>
    <div class="row p-5">
        <div class="col">
            <div class="w-100 mx-auto">
                <app-carousel></app-carousel>
            </div>
        </div>
    </div>
</div>
