h1 {
  font-size: 28px;
  color: #ff6752;
  font-weight: 600;
  text-align: center;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

h6{
    color: #F8F8F8;
    font-size: 15px/33px;
}

.descripcion {
  text-align: center;
  font: 14px/33px Open Sans;
  line-height: 15px;
  font-weight: 300;
  color: #f8f8f8;
}
