<nav class="navbar navbar-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg w-100">
            <a class="navbar-brand" href="#">
                <img src="./assets/img/pet.svg" class="bg-white rounded-circle p-1" width="78" height="78" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Location </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">AboutUs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Franchise with Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</nav>