<div class="container">
    <div class="row p-5">
        <div class="col">
            <app-zip-code [title]="'Our Services'"
                [parag]="'National Brand With a Local Feel. Experience the Fetch! Difference'"></app-zip-code>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <app-box-img img="./assets/img/s1.svg" text="Dog Walking"></app-box-img>
                    <app-box-img img="./assets/img/s2.svg" text="Pet Sitting"></app-box-img>
                    <app-box-img img="./assets/img/s3.svg" text="Overnight Care"></app-box-img>
                    <app-box-img img="./assets/img/s4.svg" text="Other Services"></app-box-img>
                </div>
            </div>
        </div>
    </div>
</div>