h2 {
  font-size: 48px;
  font-weight: 600;
  color: #ff6752;
}

.descript {
  color: #808080;
  font-size: 24px/33px;
}

h6 {
  color: #ff6752;
  font-weight: 600;
  font-size: 24px/32px;
}

.contZip {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  width: 50%;
}

.zipInput {
  border: none;
  background: none;
  width: 50%;
}

.btnZip {
  color: white;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background: var(--unnamed-color-ff6752) 0% 0% no-repeat padding-box;
  background: #ff6752 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #fd68454d;
}
