<h2>{{title}}</h2>
<p class="descript w-75 my-4">{{parag}}</p>
<h6>Enter Your Location and Fetch Our Services</h6>
<div class="position-relative contZip mt-4 px-2 d-flex justify-content-between">
    <input type="text" name="zipCode" class="zipInput ml-2" placeholder="Zip Code">
    <button class="btnZip my-2"><i class="fas fa-long-arrow-alt-right fa-2x"></i></button>
</div>