<div class="w-100 h-100 bgWaveMain">
    <!-- Just an image -->
    <app-navbar></app-navbar>
    <div class="w-100 h-75 d-flex align-items-center">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <h1 class="text-white">we get pet care!</h1>
                    <p class="w-75 my-3 textDesc text-white">For over 17 Years, Fetch! Pet Care has been a trusted partner in keeping pets healthy and happy!</p>
                    <div>
                        <button class="btn px-4 py-3 mr-2">Scheledule Service</button>
                        <span>Or Call 866.338.2463</span>
                    </div>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="contDog">
                        <img src="./assets/img/dog.png" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w-100 bg-wave-3">
    <app-our-services></app-our-services>
    <app-recomendaciones></app-recomendaciones>
</div>

<div class="w-100 bg-how-work">
    <app-how-work></app-how-work>
</div>

<br>
<br>
<br>

<div class="w-100 py-3 bg-join-main">
    <app-join-now></app-join-now>
</div>

<div class="w-100 mt-5 bgFootter">
    <app-footer></app-footer>
</div>