.bgWaveMain {
  background-image: url(../../../assets/img/wave2.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 84px/100px;
  font-family: "Museo Sans Rounded 700";
}

button {
  background: #4487ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2c1dad29;
  border-radius: 38px;
  letter-spacing: 0px;
  color: #f8f8f8;
  font-size: 20px/27px;
  font-weight: 600;
}

.textDesc {
  font-size: 16px;
}

.contDog {
  width: 346px;
  height: 346px;
  border-radius: 50%;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 20px/27px;
  color: #f8f8f8;
  font-weight: 300;
}

.bg-wave-3 {
  background-image: url(../../../assets/img/wave3.png);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}

.bg-how-work {
  background-image: url(../../../assets/img/wave4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-join-main {
  background-image: url(../../../assets/img/bg-main-join.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgFootter {
  padding: 100px 50px;
  background-image: url(../../../assets/img/bgFooter.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
