<div class="w-100 bg-not-found h-100 d-flex justify-content-center align-items-center flex-column">
    <div class="text-center">
        <div>
            <h1 class="m-0">404</h1>
            <small>Not Found Page</small>
        </div>
        <h1>Ups Nos perdimos!</h1>
        <p>No encontramos lo que estabas buscando.</p>
    </div>
    <div class="container">
        <br>
        <br>
        <div class="row mt-5">
            <div class="col d-flex justify-content-end align-items-end">
                <div class="contImg1 d-flex justify-content-center align-items-center">
                    <img src="./assets/img/dog.png" width="250px" />
                </div>
            </div>
            <div class="col d-flex justify-content-start align-items-start">
                <div class="contImg2 d-flex justify-content-center align-items-center">
                    <img src="./assets/img/dog2.png" width="250px" />
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <button [routerLink]="['/home']" class="btn py-2 px-4 mt-5" style="font-size: 30px;">Ir A Casa</button>
</div>