h1 {
  font-family: "Museo Sans Rounded 700";
}
.contImg1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: yellow;
}
.contImg2 {
  width: 300px;
  height: 300px;
  background: blueviolet;
  border-radius: 50%;
  background: blueviole3;
}
.bg-not-found {
  background-image: url(../../../assets/img/wave2.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
button {
  background: var(--unnamed-color-4487ff) 0% 0% no-repeat padding-box;
  background: #4487ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2c1dad29;
  border-radius: 38px;
  letter-spacing: 0px;
  color: #f8f8f8;
  font-size: 20px/27px;
  font-weight: 600;
}
