<div class="w-100 h-100 bgLogin">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-lg-7 col-md-7 col-12">
                <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                    <div class="fondoLogo bg-white rounded-circle d-flex justify-content-center align-items-center">
                        <img src="./assets/img/pet.svg" width="208" height="245" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-12">
                <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="w-100 d-flex flex-column">
                        <h1 class="pl-4 mb-5">Bienvenido</h1>
                        <span *ngIf="loginForm.submitted && loginForm.controls['email'].errors">Email Invalido.</span>
                        <input type="email" name="email" placeholder="EMAIL" class="w-75 p-4 form-control mb-2"
                            [(ngModel)]="usuario.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required email>
                        <span *ngIf="loginForm.submitted && loginForm.controls['password'].errors">Mínimo 6
                            Caracteres.</span>
                        <input type="password" name="password" placeholder="CONTRASEÑA" class="w-75 p-4 form-control"
                            [(ngModel)]="usuario.password" required minlength="6">
                        <a class="mt-4 text-right w-75">¿Olvidates tu contraseña?</a>
                        <div class="w-75 mt-4 d-flex justify-content-center">
                            <button [disabled]="loginForm.invalid" class="btn btnLogin py-3 px-5 d-flex justify-content-center align-items-center"> <i *ngIf="loading" class="fas fa-spinner fa-spin mr-2 fa-2x"></i> INICIAR SESIÓN</button>
                        </div>
                        <div class="w-75 d-flex justify-content-center mt-3">
                            <p class="mb-0 mr-1">AUN NO TIENES CUENTA </p> <a [routerLink]="['signup']"
                                class="registrate">REGISTRATE</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>