h1 {
  font-size: 25px;
  font-weight: 600;
  border-left: solid 8px #ff6752;
  color: #4d4f5c;
}

input {
  font-weight: 300;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 3px 4px #00000029;
  color: #a4afb7;
}

a {
  font-size: 14px;
  color: #a4afb7;
}

p{
    font-size: 13px;
    color: #a4afb7;
    font-weight: 300;
}

.registrate{
    color: #015F91;
    font-weight: 300;
    font-size: 13px;
}

.btnLogin {
  background: var(--unnamed-color-4487ff) 0% 0% no-repeat padding-box;
  background: #4487ff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2c1dad29;
  border-radius: 38px;
  letter-spacing: 0px;
  color: #f8f8f8;
  font-size: 20px/27px;
  font-weight: 600;
}

.fondoLogo{
    width: 365px;
    height: 365px;
}

.bgLogin{
    background-image: url(../../../assets/img/wave1.png);
    background-position: center;
    background-size: cover;
}

.colorErr{
  color: #ff6752;
}

span{
  font-size: 14px;
  font-weight: 300;
}