.join-now {
  background-image: url(../../../assets/img/bg-join.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.bg-dog-2 {
  width: 300px;
  height: 300px;
  background: yellow;
}

h2 {
  color: #ffe530;
  font-weight: 600;
}

p {
  font-weight: 400;
  font-size: 23px;
  color: #F8F8F8;
}

button {
  background: var(--unnamed-color-f8f8f8) 0% 0% no-repeat padding-box;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 40px;
  color: #FE6845;
  font-size: 20px;
}
