<div class="container join-now px-3 py-4 shadow">
    <div class="row p-3">
        <div class="col-4">
            <div class="bg-dog-2 d-flex justify-content-center align-items-center rounded-circle">
                <img src="./assets/img/dog2.png" width="80%">
            </div>
        </div>
        <div class="col">
            <h2>
                Make Fetch! Happen
            </h2>
            <p class="my-3">
                If you love pets and want exciting work, apply to be a Fetch! Pet Care Provider! We train every team
                member and provide ongoing support to help you get the most from your experience.
            </p>
            <button class="btn py-3 px-4 mt-4" >Join Now</button>
        </div>
    </div>
</div>