<div class="col mb-3">
    <div class="boxAnimals d-flex justify-content-center align-items-center flex-column">
        <img [src]="img" width="40%">
        <p class="text-muted textImageBox mt-3">{{text}}</p>
    </div>
</div>