.boxAnimals {
  width: 10rem;
  height: 10rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  padding: 20px;
}

.textImageBox {
  font-weight: 300;
}
