<div class="container">
    <div class="row p-5">
        <div class="col d-flex flex-wrap justify-content-end">
            <div class="container bg-trazado">
                <div class="row">
                    <app-box-img img="./assets/img/s5.svg" text="Reserve"></app-box-img>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <app-box-img img="./assets/img/s6.svg" text="Match"></app-box-img>
                    </div>
                </div>
                <div class="row">
                    <app-box-img img="./assets/img/s7.svg" text="Relax"></app-box-img>
                </div>
            </div>
        </div>
        <div class="col">
            <app-zip-code [title]="title" [parag]="parag"></app-zip-code>
        </div>
    </div>
</div>