/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Open Sans', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

*:focus{
    outline: none;
}
